body{
    font-size: 20px;
    font-family : 'Playfair Display SC', serif;
     background: url("pexels-david-bartus-1166209.jpg")
        no-repeat center center fixed;
    background-size: cover;
}


#container{
    margin : 230px auto;
    background-color: #f9ecf9;
    height: 270px;
    width : 670px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#start{
    font-size: 3.5em;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-break: break-all;
    width:200px;
    height:170px;
    border : 2px solid white;
    text-align:center;
    cursor: pointer;
    position: absolute;
    left:240px;
    top:40px;
    color : rebeccapurple;
}
#start:hover{
    border: 3px solid purple;
    color : purple;
	box-shadow: 0 0 50px #ffd7dd;
}
#question{
    width:670px;
    height : 125px;
    position: absolute;
    color: rgb(68, 1, 68);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    right:0;
    top:20px;
    font-weight: bolder;
}
#question p{
    margin : 10px;
    padding : 15px;
    font-size: 1.2em;
}

#choices{
    width : 650px;
    position: absolute;
    right : 0;
    bottom : 50px;
    padding : 5px
}
.choice{
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width : 130px;
    height : 70px;
    color: purple;
    background-color: lavenderblush;
    position: relative;
    text-align: center;
    border : 1px solid palevioletred;
    border-radius: 10px;
    cursor: pointer;
    padding : 5px;
    margin-left: 10px;
}
.choice:hover{
    border : 2px solid rgb(139, 62, 133);
    font-weight: bold;
	box-shadow: 0 0 50px #ffd7dd;
}

#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}

#scoreContainer{
    margin : 20px auto;
    background-color: rgb(247, 163, 222);
    opacity: 0.8;
    height: 270px;
    width : 670px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}
#scoreContainer p{
    color: rgb(27, 1, 27);
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:80px;
    left:300px;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}


















